@import 'app/styles/variables.scss';

.cart {
  margin: 5rem 0;

  &__header {
    font-weight: 700;
    font-family: $font-poppins, sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
}
