@import 'app/styles/variables.scss';
@import 'app/styles/mixins.scss';

.product_card {
  min-height: 20rem;
  grid-column: span 6 / span 6;

  @include breakpoint('md') {
    grid-column: span 4 / span 4;
  }

  @include breakpoint('lg') {
    grid-column: span 3 / span 3;
  }

  a {
    text-decoration: none;
    color: $black;
    font-family: $font-plus-jakarta-sans, sans-serif;
  }

  &__header {
    &__title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      min-height: 5rem;
      margin-top: 0.25rem;

      @include breakpoint('md') {
        min-height: 3.5rem;
      }
    }
  }

  &__body {
    margin-top: 1rem;
    font-weight: 600;
  }
}
