@import 'variables.scss';
@import 'reset.scss';
@import 'app/styles/mixins.scss';

main {
  min-height: 44rem;
  margin: 0 auto;

  @include breakpoint('md') {
    max-width: $max-w-md;
  }

  @include breakpoint('lg') {
    min-height: 51rem;
    max-width: $max-w-lg;
  }

  @include breakpoint('xl') {
    max-width: $max-w-xl;
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-footer {
  width: 30%;
}
