$gray-light: #d9d9d9;
$gray-dark: #7d7d7d;
$gray-500: #6b7280;
$black: #020817;
$pink-light: #ff96a4;
$pink-dark: #fe8191;
$blue-dark: #6667aa;

$font-poppins: var(--font-poppins);
$font-plus-jakarta-sans: var(--font-plus-jakarta-sans);

$breakpoints: (
  sm: (
    min: 576px,
    max: 575.98px,
  ),
  md: (
    min: 768px,
    max: 767.98px,
  ),
  lg: (
    min: 992px,
    max: 991.98px,
  ),
  xl: (
    min: 1200px,
    max: 1199.98px,
  ),
  xxl: (
    min: 1400px,
    max: 1399.98px,
  ),
);

$max-w-md: 42rem;
$max-w-lg: 56rem;
$max-w-xl: 72rem;
