@import 'app/styles/variables.scss';
@import 'app/styles/mixins.scss';

.recommendation {
  padding: 1rem;

  @include breakpoint('md') {
    padding: 0;
  }

  &__header {
    font-weight: 700;
    font-family: $font-poppins, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__body {
    margin: 2.5rem 0;

    &__empty {
      text-align: center;
      font-family: $font-plus-jakarta-sans, sans-serif;
      color: $gray-dark;
    }

    &__loading,
    &__products {
      display: grid;
      column-gap: 1rem;
      row-gap: 2rem;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      &__more {
        display: inline-block;
        width: 100%;
        margin: 1.5rem 0;
        border: 1px solid $black;
        text-transform: uppercase;
        font-family: $font-poppins, sans-serif;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none;
        color: $black;

        &:hover {
          background-color: $gray-light;
        }
      }
    }
  }
}
