@import 'app/styles/variables.scss';
@import 'app/styles/mixins.scss';

.navbar {
  border-bottom: 1px solid $gray-light;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;

  a {
    text-decoration: none;
  }

  &__container {
    margin: 0 auto;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;

    @include breakpoint('md') {
      padding: 0;
      max-width: 42rem;
    }

    @include breakpoint('lg') {
      max-width: 56rem;
    }

    @include breakpoint('xl') {
      max-width: 72rem;
    }
  }

  &__logo {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      font-family: $font-poppins, sans-serif;
      color: $blue-dark;
    }
  }

  &__links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;

    li a {
      color: $blue-dark;
      font-family: $font-plus-jakarta-sans, sans-serif;
    }
  }
}
